<form [formGroup]="signupForm" (ngSubmit)="signup()">
    <h3>Signup</h3>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" formControlName="email" placeholder="user@example.domain" required>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password" placeholder="min 8 characters" required>
    </div>

    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" id="confirm-password" class="form-control" placeholder="confirm password" required>
    </div>

    <div class="form-group">
        <button class="btn btn-success btn-md btn-block">SIGN UP</button>
    </div>

    <div>
        <a routerLink="/login">ALREADY HAVE AN ACCOUNT?</a>
    </div>

</form>