<form [formGroup]="loginForm">
    <h3>Login</h3>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" formControlName="email" placeholder="user@example.domain" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password" placeholder="min 8 characters"  required>
    </div>

    <div>
        <a>FORGOT PASSWORD?</a>
    </div>

    <div class="form-group">
        <button class="btn btn-success btn-md btn-block" (click)="login()">LOGIN</button>
    </div>

    <div>
        <a routerLink="/signup">OR CREATE A NEW ACCOUNT?</a>
    </div>

</form>